/**********************/
/*******440211482******/
/**********************/
font {color: red; font-size: 40px; border:cornsilk ; font-family: Arial, Helvetica, sans-serif;}
table {color: royalblue; text-align: center; border: 3px solid black;background-color:blanchedalmond;margin-left: auto;margin-right: auto;}
td {  border: 3px solid black;}
ol {color: orange; font-size: 60px;}
p {color: brown;}
th {color: red; text-align: center; border: 3px solid black;background-color:blanchedalmond;}
/**********************/
/******homework1*******/
/**********************/
.qq{direction: rtl;}
.kk  { font-family: andalus regular; color: red;font-size: 50px;text-align: center;}
.rr{font-family: TRADITIONAL ARABIC; color: blue;font-size: 50px;}
.ss{ font-family: andalus regular; color: red;font-size: 50px;}
.dd {font-family: andalus regular; color: red;font-size: 50px;}
.ff{font-family: TRADITIONAL ARABIC; color: blue;font-size: 50px;}
.gg{font-family: andalus regular; color: red;font-size: 50px;}
.hh{font-family: TRADITIONAL ARABIC; color: blue;font-size: 50px;}
/***********************/
/********homework2******/
/***********************/
.g{direction: rtl;}
.l{font-family: andalus regular; color: red;font-size: 50px;}
.K p{font-family: dubai; color: blue; font-size: 50px;}
/***********************/
/********homework3******/
/***********************/
body{background-color: powderblue;}
.md p{text-align: right;color:blue;font-size: 30px;}
.mv p{color: green;text-align: center;font-size: 40px;}
.mj p{text-align: left;color:red ;font-size: 30px;
}
/***********************/
/********homework4******/
/***********************/

.ddf{text-align: center; color: red;}
legend{text-align: center;color: red;}

/***********************/
/******h2***************/
/***********************/
.ftf{color: xblue; text-align: center;}
/***********************/
/******h3***************/
/***********************/
.FRF img{border: 44px solid #ddd;width: 150px;
    height: 15%;}
    .cwc img{height: 50%;width: 50%;border: solid green;}
/***********************/
/******h5***************/
/***********************/
.qrq {
    height: 25px;	
    
    background: gray;
    color: blue;
    border: 1px solid orange;
    animation: 0s;
    
   }
   .gng{background-color: brown;}

/***********************/
/*******index***********/
/***********************/
.ewe-ewe img{height: 50%; width: 70%; margin-left: 250;}
.wdw img{height: 7%;}
.ghg{margin-left: 850;}
.z{background-color: yellow;border: tomato solid 8px;}